extends layout
block main-content
  body
    div#main-container.bg-dark
      div#personal-grid-conatiner.white
        div.personal-grid-item.photo
          img(src="/me.jpg" alt="My Photo")
        div.personal-grid-item
          div.description
            p Step into the world of web development with me, a curious and creative soul. As you explore this personal website, you'll uncover the magic behind my coding adventures. I believe that each line of code is an opportunity to create something extraordinary.
            a(href="#contact") 
              button(type="button") Get In Touch
    div#big-container
      div#small-container
        h1.portfolio-heading#portfolio Portfolio 
        p.portfolio-para Exploring My Journey: A Collection of Personal Projects, Group Collaborations, and University Deliverables.
        div.grid-container 
          div.grid-item 
            div.content-front 
              a(href="https://github.com/Pannudeepak/WebSupport2.git") 
                img(src="/cSupport.jpg" alt="WebSupport Prototype")
                .image-top 
                  h1 Customer Support System
          div.grid-item
            div.content-front 
              a(href="https://github.com/Pannudeepak/CuisineComposer.git") 
                img(src="/recipe.jpg" alt="Cuisine Composer")
                .image-top 
                  h1 Cuisine Composer
          div.grid-item
            div.content-front 
              a(href="https://github.com/Pannudeepak/Portfolio.git") 
                img(src="/portfolio.jpg" alt="Portfolio")
                .image-top 
                  h1 Portfolio
          div.grid-item
            div.content-front 
              a(href="") 
                img.blurry(src="/react.jpg" alt="Upcoming")
                .image-top 
                  h1 Upcoming
          div.grid-item
            div.content-front
              a(href="")  
                img.blurry(src="/cloud.jpg" alt="Upcoming")
                .image-top 
                  h1 Upcoming
          div.grid-item
            div.content-front 
              a(href="") 
                img.blurry(src="/java.jpg" alt="Upcoming")
                .image-top 
                  h1 Upcoming
        div#education 
          h1.portfolio-heading Education 
          p.portfolio-para.education-decription With my degree I built a foundation of programming and designing skills, <br>  enabling me to excel in researching new topics and completing projects with precision. 
          p.portfolio-para.degree BSc Applied Computer Science, University of Winnipeg
          h1.degree-date 2020-2023
          p.portfolio-para.education-decription.degree-description Bachelor of Applied Computer Science is an immersive and practice-oriented undergraduate degree program designed to equip students with a deep understanding of computer science concepts and empower them with real-world problem-solving skills.
          p.portfolio-para.education-decription.degree-description Bachelor of Applied Computer Science is an immersive and practice-oriented undergraduate degree program designed to equip students with a deep understanding of computer science concepts and empower them with real-world problem-solving skills.
    div#contact 
      h1.portfolio-heading Let's Get In Touch 
      p.contact-para Reach out to me to set up a call about working together on your upcoming<br> project, or just to make a connection.
      form.form-container(action="/send-email" method="POST")
        .form-group
          .form-row
            label(for="name") Name:
            input(type="text" id="name" name="name" required)
            label(for="email") Email:
            input(type="email" id="send-email" name="email" required)

        .form-group
          .form-row  
            label(for="message") Your Message:
            textarea#message(name="message" placeholder="Enter your message here...", required)

        .form-group.centered-btn
          button(type="submit") Submit
















